:root {
  --red-color: #d81324;
}
.bg-red {
  background-color: var(--red-color);
}
.text-red{
  color: var(--red-color);
}
/* details */
.detailsomg{
  background-image: url(../images/carousel-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutus1{
    font-size: 70px;
}
/* about */
.aboutus{
  position: absolute;
  top: -30px;
  left: 0%;
}
.experience{
  position: absolute;
  top: -30px;
  right: -20px;
}
/* fooer */
footer{
  background-image: url(../images/carousel-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dia{
  position: relative;
    padding-left: 20px;
}
.dia::before{
   content: ">";
    position: absolute;
    left: 0;
    top: -2px;
    font-weight: 900;
    
}
.form-control{
  border-radius: 0% !important;
  border-color: initial !important;

}
.form-control:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0!important;
    border-radius: 0% !important;
}
.signbtn{
  position: absolute;
  top: 10px;
  right: 10px;
}
.aicon{
  transition: all .9s ease;
}
.aicon:hover{
  background: white !important;
  color:var(--red-color) !important;
}