:root {
  --red-color: #d81324;
}
.bg-red {
  background-color: var(--red-color);
}
.text-red{
  color: var(--red-color);
}
/* topbar */
.topbar {
  background-color: #59627773;
}
/* navbar */
.nav-hover ul li a:hover{
 color: #d81324
 
}
/* id fact no css */
/* about */
.aboutus{
  position: absolute;
  top: -30px;
  left: 0%;
}
.experience{
  position: absolute;
  top: -30px;
  right: -20px;
}
/* details */
.detailsomg{
  background-image: url(../images/carousel-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* award */
.awardbg{
  background-image: url(../images/carousel-bg-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overly{
  background-color: rgba(0, 0, 0, 0.596);
  
}
.awardform{
  width: 100%;
  border: none !important;
  box-shadow: none !important ;
}
.awardform:focus{
  border: none !important;
  box-shadow: none !important ;
  outline: none !important ;
}
.formbtn{
  background-color: rgb(11, 33, 84);
}
/* technitians */
.tecimg{
 position: relative;
}

.imgred{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    opacity: 0;          /* normal state → invisible */
    transition: 0.3s;    /* smooth hover */
}
.tecimg:hover .imgred {
    opacity: 999;      /* hover par red layer show */
}































/* fooer */
footer{
  background-image: url(../images/carousel-bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dia{
  position: relative;
    padding-left: 20px;
}
.dia::before{
   content: ">";
    position: absolute;
    left: 0;
    top: -2px;
    font-weight: 900;
    
}
.form-control{
  border-radius: 0% !important;
  border-color: initial !important;

}
.form-control:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0!important;
    border-radius: 0% !important;
}
.signbtn{
  position: absolute;
  top: 10px;
  right: 10px;
}
.aicon{
  transition: all .9s ease;
}
.aicon:hover{
  background: white !important;
  color:var(--red-color) !important;
}