:root {
  --red-color: #d81324;
}
.bg-red {
  background-color: var(--red-color);
}
.text-red{
  color: var(--red-color);
}
/* topbar */
.topbar {
  background-color: #59627773;
}
/* navbar */
.nav-hover ul li a:hover{
 color: #d81324
 
}
/* id fact no css */
/* about */
.aboutus{
  position: absolute;
  top: -20px;
  left: 0%;
}
